pipeline/A-Copy-Files-Landing-Stagging.json
{
	"name": "A-Copy-Files-Landing-Stagging",
	"properties": {
		"activities": [
			{
				"name": "A-Get-Details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "A_DS_SRC_DET",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "A-For-Each-Det",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "A-Get-Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('A-Get-Details').output.childItem",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}